<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>
      .main-container{
        min-height: 800px;
        background-color: antiquewhite;
      }
      .mid-container{
        width: 70%;
      }
    </style>
  </head>
<body>
    <div>

    </div>

    <!-- 탑 컨테이너 넣는 곳  시작 -->
    <div th:replace="~{/fragment/top-container :: top-container}"></div>

    <!-- 탑 컨테이너 넣는 곳  끝 -->
    <!-- 미드 컨테이너 넣는 곳 ------>
    <div th:replace="~{/fragment/mid-container :: mid-container}"></div>

    <!-- 미드 컨테이너 끝  -->

    <div class="main-container"> <!-- --------------------메인 컨테이너 시작---------------   -->



        <div class="row row-cols-1 row-cols-md-5 g-4" style="margin:2%">
            <div th:each="item : ${itemDTOs}">
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <div th:each="itemImage : ${itemImageDTOs}">
                            <div th:if="${item.getId.equals(itemImage.itemId)}">
                            호우호우
                            호우호우
                            <img th:src="|/img/item_img/${itemImage.serverFileName}|" class="card-img-top" alt="...">
                            호우호우
                            </div>
                        </div>

                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item" th:text="${item.name}">닭고기 통조림</li>
                            <li class="list-group-item" th:text="${item.price}"></li>
                        </ul>
                        <div class="card-body">
                            <a href="#" class="card-link">상세보기</a>
                            <a href="#" class="card-link">장바구니 담기</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div> <!-- 메인 컨테이너 끝-->



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>

